apiVersion: v1
kind: Service
metadata:
  name: api
  namespace: bifrost-docs
  labels:
    app.kubernetes.io/name: bifrost-docs-api
    app.kubernetes.io/component: api
    app.kubernetes.io/part-of: bifrost-docs
spec:
  type: ClusterIP
  ports:
    - port: 8000
      targetPort: 8000
      protocol: TCP
      name: http
  selector:
    app.kubernetes.io/name: bifrost-docs-api
